<div class="wrapper">
  <form [formGroup]="filterForm">
    <input class="searchByName" placeholder="🔍Search name"
            [formControlName]="'name'"
            (input)="searchByName()"
    >
    <div class="wrapper">
      <p>Search industry:</p>
      <select [formControlName]="'industry'" (change)="searchByIndustry()">
        <option></option>
        <option *ngFor="let industry of industryList" [value]="industry">{{industry}}</option>
      </select>
    </div>
    <div class="wrapper">
      <p>Search type:</p>
      <select [formControlName]="'type'" (change)="searchByType()">
        <option></option>
        <option *ngFor="let type of typeList" [value]="type">{{type}}</option>
      </select>
    </div>
  </form>
</div>
