.wrapper{
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 200px 1fr 1fr;
}
table{
  border: 3px solid black;
  margin-left: 24px;
  vertical-align: center;
  width: 100%;
}
td{
  padding: 5px;
  text-align: center;
  vertical-align: auto;
}
p{
  padding: 5px;
  font-size: 18px;
}
.name{
  font-size: 40px;
  font-weight: bold;
  margin-top: 16%;
}
.phrase{
  font-size: 20px;
  font-weight: bold;
}
